.hidden {
    display: none;
}

.cat-img{
    object-fit: cover;
    height: auto;
    width: auto;
}

.cat-info{
    width: 500px;
    margin: 100px auto;
}

.breed-select{
    margin: 50px auto;
}

.form-select.form-select-lg {
    width: 500px; 
}